@font-face {
	font-family: 'Kusanagi';
	src: url('../fonts/Kusanagi.eot'), url('../fonts/Kusanagi.woff') format('woff'), url('../fonts/Kusanagi.ttf') format('truetype'), url('../fonts/Kusanagi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}