html,
body {
    background-color: #e6f1f6;
    margin: 0px !important;
}

.title {
    font-family: Kusanagi;
    margin: 0px;
}

.navbar {
    position: fixed;
    display: flex;
    font-size: 3.5em;
    margin: 0.285714286em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.navicon {
    position: inherit;
    font-family: FontAwesome;
    margin: 0px;
    right: 0.285714286em;
}

.blur {
    filter: blur(1em);
}