html,
body {
    background-color: #e6f1f6;
    margin: 0px !important;
}

.heading {
    font-family: Kusanagi;
    margin: 0px;
}

.cookieheading {
    font-size: 2.5em;
}

.navbar {
    position: fixed;
    display: flex;
    font-size: 3.5em;
    margin: 0.285714286em;
    left: 0px;
    right: 0px;
}

.navicon {
    position: inherit;
    font-family: FontAwesome;
    margin: 0px;
    right: 0.285714286em;
}

.blur {
    filter: blur(1em);
}

.cookiepopup {
    position: fixed;
    margin: 10vh 25vw;
    height: 80vh;
    width: 50vw;
    background: #ffffff;
    border-radius: 1vh/1vh;
    text-align: center;
    font-family: Kusanagi;
}